################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RBTree
/Sorted Binary Tree/prog3b
/Sorted Binary Tree
/Red Black Tree Game
*.suo
DiGraph/DiGraph/DiGraph.vcxproj.filters
*.vcxproj
